In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_extraction.text import CountVectorizer
import pickle as pkl

In [2]:
df_tourism_rating = pd.read_csv('../../../Dataset/Tourism Rating/raw/tourism_rating.csv')
df_tourism  = pd.read_csv('../../../Dataset/Tourism/tourism.csv')
df_user = pd.read_csv('../../../Dataset/User/raw/user.csv')

In [3]:
df_tourism.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Lat,Long,Rating_Count
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Sejarah Edukasi,Jakarta,20000,4.6,15.0,-6.175392,106.827153,18
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...","Sejarah Edukasi,Seni Budaya,Kuliner",Jakarta,0,4.6,90.0,-6.137645,106.817125,25
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,"Rekreasi,Hiburan",Jakarta,270000,4.6,360.0,-6.125312,106.833538,19
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,"Sejarah Edukasi,Seni Budaya,Rekreasi",Jakarta,10000,4.5,NaN,-6.302446,106.895156,21
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,"Rekreasi,Olahraga",Jakarta,94000,4.5,60.0,-6.124190,106.839134,24

In [4]:
df_tourism['Category'] = df_tourism['Category'].apply(lambda x: x.replace(',', ' '))
df_tourism['Tags'] = df_tourism['Description'] + ' ' + df_tourism['Category'] + ' ' + df_tourism['City']

In [5]:
df_tourism.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Lat,Long,Rating_Count,Tags
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Sejarah Edukasi,Jakarta,20000,4.6,15.0,-6.175392,106.827153,18,Monumen Nasional atau yang populer disingkat d...
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Sejarah Edukasi Seni Budaya Kuliner,Jakarta,0,4.6,90.0,-6.137645,106.817125,25,"Kota tua di Jakarta, yang juga bernama Kota Tu..."
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Rekreasi Hiburan,Jakarta,270000,4.6,360.0,-6.125312,106.833538,19,Dunia Fantasi atau disebut juga Dufan adalah t...
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Sejarah Edukasi Seni Budaya Rekreasi,Jakarta,10000,4.5,NaN,-6.302446,106.895156,21,Taman Mini Indonesia Indah merupakan suatu kaw...
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Rekreasi Olahraga,Jakarta,94000,4.5,60.0,-6.124190,106.839134,24,Atlantis Water Adventure atau dikenal dengan A...

In [6]:
new_df_tourism = df_tourism[['Place_Id', 'Place_Name', 'Tags']]
new_df_tourism.head()

,Place_Id,Place_Name,Tags
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu..."
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...

In [7]:
stopwords = pd.read_csv('../../../Dataset/Stop Words/stopwordbahasa.csv')
stopwords_list = stopwords.iloc[:,0].tolist()

In [8]:
cv = CountVectorizer(max_features = 5000, lowercase=True, stop_words=stopwords_list)
vectors = cv.fit_transform(new_df_tourism['Tags']).toarray()
vectors.shape

c:\Users\ACER\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\feature_extraction\text.py:408: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['baiknya', 'berkali', 'kali', 'kurangnya', 'mata', 'olah', 'sekurang', 'setidak', 'tama', 'tidaknya'] not in stop_words.
  warnings.warn(

(437, 5000)

In [9]:
print(vectors[0,1000:2000])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]

In [10]:
cv.get_feature_names_out()

array(['00', '000', '01', ..., 'ꦭꦮ', 'ꦱꦔ', 'ꦱꦩꦱ'], dtype=object)

In [11]:
similarity = cosine_similarity(vectors)
similarity.shape

(437, 437)

In [12]:
pkl.dump(similarity, open('pickles/similarity.pkl', 'wb'))
pkl.dump(new_df_tourism, open('pickles/new_df_tourism.pkl', 'wb'))

In [13]:
def similarity_tourism(tourism_name):
    index = new_df_tourism[new_df_tourism['Place_Name'] == tourism_name].index[0]
    similarity_score = similarity[index]
    similarity_place = sorted(list(enumerate(similarity_score)),key=lambda x: x[1],reverse=True)[1:11]
    similarity_list = []    
    for i in similarity_place:
        similarity_list.append([df_tourism.iloc[i[0], 1]] + [i[1]])
    return similarity_list

In [14]:
similarity_place = similarity_tourism('Masjid Istiqlal')
similarity_place

[['Masjid Raya Bandung', 0.5941924364659286],
 ['Masjid Pusdai', 0.5839673225796117],
 ['Masjid Nasional Al-Akbar', 0.5619082831750656],
 ['Masjid Muhammad Cheng Hoo', 0.5055458603111107],
 ['Masjid Salman ITB', 0.48997929952961095],
 ['Masjid Daarut Tauhiid Bandung', 0.4816832620448062],
 ['Masjid Agung Ungaran', 0.45893200206502166],
 ['Masjid Agung Trans Studio Bandung', 0.43399360204375065],
 ['Masjid Kapal Semarang', 0.40064042750948253],
 ['Masjid Al-Imtizaj', 0.3853185038734673]]

In [15]:
df_collaborative = df_tourism_rating.copy()
df_collaborative

      User_Id  Place_Id  Place_Ratings
0           1       179              3
1           1       344              2
2           1         5              5
3           1       373              3
4           1       101              4
...       ...       ...            ...
9995      300       425              2
9996      300        64              4
9997      300       311              3
9998      300       279              4
9999      300       163              2

[10000 rows x 3 columns]

In [16]:
user_id = df_collaborative['User_Id'].unique().tolist()
user_id_encoded = {value: index for index, value in enumerate(user_id)}
print(user_id_encoded)

place_id = df_collaborative['Place_Id'].unique().tolist()
place_id_encoded = {value: index for index, value in enumerate(place_id)}
print(place_id_encoded)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9, 11: 10, 12: 11, 13: 12, 14: 13, 15: 14, 16: 15, 17: 16, 18: 17, 19: 18, 20: 19, 21: 20, 22: 21, 23: 22, 24: 23, 25: 24, 26: 25, 27: 26, 28: 27, 29: 28, 30: 29, 31: 30, 32: 31, 33: 32, 34: 33, 35: 34, 36: 35, 37: 36, 38: 37, 39: 38, 40: 39, 41: 40, 42: 41, 43: 42, 44: 43, 45: 44, 46: 45, 47: 46, 48: 47, 49: 48, 50: 49, 51: 50, 52: 51, 53: 52, 54: 53, 55: 54, 56: 55, 57: 56, 58: 57, 59: 58, 60: 59, 61: 60, 62: 61, 63: 62, 64: 63, 65: 64, 66: 65, 67: 66, 68: 67, 69: 68, 70: 69, 71: 70, 72: 71, 73: 72, 74: 73, 75: 74, 76: 75, 77: 76, 78: 77, 79: 78, 80: 79, 81: 80, 82: 81, 83: 82, 84: 83, 85: 84, 86: 85, 87: 86, 88: 87, 89: 88, 90: 89, 91: 90, 92: 91, 93: 92, 94: 93, 95: 94, 96: 95, 97: 96, 98: 97, 99: 98, 100: 99, 101: 100, 102: 101, 103: 102, 104: 103, 105: 104, 106: 105, 107: 106, 108: 107, 109: 108, 110: 109, 111: 110, 112: 111, 113: 112, 114: 113, 115: 114, 116: 115, 117: 116, 118: 117, 119: 118, 120: 119, 121: 120, 122: 121, 123: 122, 124: 123, 125: 124, 126: 125, 127: 126, 128: 127, 129: 128, 130: 129, 131: 130, 132: 131, 133: 132, 134: 133, 135: 134, 136: 135, 137: 136, 138: 137, 139: 138, 140: 139, 141: 140, 142: 141, 143: 142, 144: 143, 145: 144, 146: 145, 147: 146, 148: 147, 149: 148, 150: 149, 151: 150, 152: 151, 153: 152, 154: 153, 155: 154, 156: 155, 157: 156, 158: 157, 159: 158, 160: 159, 161: 160, 162: 161, 163: 162, 164: 163, 165: 164, 166: 165, 167: 166, 168: 167, 169: 168, 170: 169, 171: 170, 172: 171, 173: 172, 174: 173, 175: 174, 176: 175, 177: 176, 178: 177, 179: 178, 180: 179, 181: 180, 182: 181, 183: 182, 184: 183, 185: 184, 186: 185, 187: 186, 188: 187, 189: 188, 190: 189, 191: 190, 192: 191, 193: 192, 194: 193, 195: 194, 196: 195, 197: 196, 198: 197, 199: 198, 200: 199, 201: 200, 202: 201, 203: 202, 204: 203, 205: 204, 206: 205, 207: 206, 208: 207, 209: 208, 210: 209, 211: 210, 212: 211, 213: 212, 214: 213, 215: 214, 216: 215, 217: 216, 218: 217, 219: 218, 220: 219, 221: 220, 222: 221, 223: 222, 224: 223, 225: 224, 226: 225, 227: 226, 228: 227, 229: 228, 230: 229, 231: 230, 232: 231, 233: 232, 234: 233, 235: 234, 236: 235, 237: 236, 238: 237, 239: 238, 240: 239, 241: 240, 242: 241, 243: 242, 244: 243, 245: 244, 246: 245, 247: 246, 248: 247, 249: 248, 250: 249, 251: 250, 252: 251, 253: 252, 254: 253, 255: 254, 256: 255, 257: 256, 258: 257, 259: 258, 260: 259, 261: 260, 262: 261, 263: 262, 264: 263, 265: 264, 266: 265, 267: 266, 268: 267, 269: 268, 270: 269, 271: 270, 272: 271, 273: 272, 274: 273, 275: 274, 276: 275, 277: 276, 278: 277, 279: 278, 280: 279, 281: 280, 282: 281, 283: 282, 284: 283, 285: 284, 286: 285, 287: 286, 288: 287, 289: 288, 290: 289, 291: 290, 292: 291, 293: 292, 294: 293, 295: 294, 296: 295, 297: 296, 298: 297, 299: 298, 300: 299}
{179: 0, 344: 1, 5: 2, 373: 3, 101: 4, 312: 5, 258: 6, 20: 7, 154: 8, 393: 9, 103: 10, 208: 11, 89: 12, 405: 13, 41: 14, 336: 15, 67: 16, 292: 17, 222: 18, 76: 19, 428: 20, 15: 21, 246: 22, 265: 23, 21: 24, 328: 25, 307: 26, 302: 27, 48: 28, 147: 29, 2: 30, 322: 31, 23: 32, 85: 33, 371: 34, 78: 35, 111: 36, 107: 37, 185: 38, 413: 39, 389: 40, 437: 41, 105: 42, 176: 43, 407: 44, 281: 45, 167: 46, 384: 47, 426: 48, 390: 49, 367: 50, 166: 51, 18: 52, 321: 53, 262: 54, 223: 55, 17: 56, 319: 57, 310: 58, 421: 59, 202: 60, 283: 61, 250: 62, 118: 63, 54: 64, 70: 65, 33: 66, 227: 67, 86: 68, 249: 69, 131: 70, 382: 71, 193: 72, 104: 73, 24: 74, 128: 75, 134: 76, 228: 77, 237: 78, 100: 79, 198: 80, 50: 81, 376: 82, 268: 83, 242: 84, 82: 85, 348: 86, 409: 87, 88: 88, 4: 89, 377: 90, 43: 91, 91: 92, 44: 93, 14: 94, 406: 95, 383: 96, 229: 97, 290: 98, 294: 99, 309: 100, 74: 101, 97: 102, 138: 103, 436: 104, 395: 105, 300: 106, 68: 107, 55: 108, 434: 109, 9: 110, 151: 111, 61: 112, 159: 113, 397: 114, 391: 115, 301: 116, 143: 117, 27: 118, 190: 119, 346: 120, 381: 121, 368: 122, 433: 123, 420: 124, 335: 125, 115: 126, 334: 127, 219: 128, 178: 129, 266: 130, 92: 131, 64: 132, 102: 133, 257: 134, 243: 135, 116: 136, 359: 137, 121: 138, 385: 139, 398: 140, 119: 141, 298: 142, 410: 143, 224: 144, 379: 145, 255: 146, 269: 147, 213: 148, 126: 149, 192: 150, 183: 151, 129: 152, 303: 153, 296: 154, 99: 155, 148: 156, 13: 157, 247: 158, 31: 159, 77: 160, 158: 161, 306: 162, 98: 163, 235: 164, 45: 165, 173: 166, 275: 167, 25: 168, 130: 169, 164: 170, 267: 171, 56: 172, 30: 173, 238: 174, 402: 175, 196: 176, 417: 177, 304: 178, 206: 179, 211: 180, 28: 181, 264: 182, 403: 183, 253: 184, 331: 185, 188: 186, 416: 187, 378: 188, 233: 189, 95: 190, 204: 191, 225: 192, 341: 193, 145: 194, 36: 195, 168: 196, 12: 197, 280: 198, 236: 199, 42: 200, 90: 201, 75: 202, 63: 203, 205: 204, 234: 205, 284: 206, 230: 207, 197: 208, 339: 209, 35: 210, 226: 211, 430: 212, 37: 213, 109: 214, 355: 215, 186: 216, 149: 217, 6: 218, 150: 219, 11: 220, 127: 221, 429: 222, 194: 223, 49: 224, 369: 225, 94: 226, 274: 227, 72: 228, 46: 229, 65: 230, 203: 231, 139: 232, 141: 233, 71: 234, 52: 235, 293: 236, 422: 237, 214: 238, 114: 239, 191: 240, 156: 241, 177: 242, 163: 243, 142: 244, 245: 245, 325: 246, 259: 247, 396: 248, 96: 249, 8: 250, 362: 251, 435: 252, 59: 253, 171: 254, 277: 255, 342: 256, 365: 257, 340: 258, 260: 259, 187: 260, 297: 261, 207: 262, 248: 263, 153: 264, 239: 265, 360: 266, 170: 267, 357: 268, 73: 269, 201: 270, 252: 271, 414: 272, 132: 273, 26: 274, 347: 275, 270: 276, 16: 277, 19: 278, 318: 279, 256: 280, 181: 281, 199: 282, 288: 283, 330: 284, 3: 285, 47: 286, 32: 287, 308: 288, 210: 289, 279: 290, 289: 291, 332: 292, 80: 293, 375: 294, 182: 295, 412: 296, 272: 297, 184: 298, 113: 299, 399: 300, 261: 301, 112: 302, 327: 303, 418: 304, 84: 305, 400: 306, 195: 307, 34: 308, 295: 309, 38: 310, 165: 311, 212: 312, 124: 313, 432: 314, 317: 315, 333: 316, 81: 317, 374: 318, 136: 319, 278: 320, 108: 321, 404: 322, 83: 323, 425: 324, 22: 325, 349: 326, 411: 327, 241: 328, 427: 329, 209: 330, 323: 331, 137: 332, 315: 333, 62: 334, 244: 335, 135: 336, 169: 337, 366: 338, 152: 339, 29: 340, 60: 341, 240: 342, 200: 343, 161: 344, 66: 345, 372: 346, 338: 347, 311: 348, 53: 349, 392: 350, 299: 351, 386: 352, 337: 353, 326: 354, 423: 355, 352: 356, 172: 357, 286: 358, 251: 359, 162: 360, 356: 361, 93: 362, 160: 363, 125: 364, 316: 365, 123: 366, 174: 367, 221: 368, 408: 369, 263: 370, 358: 371, 353: 372, 401: 373, 364: 374, 215: 375, 110: 376, 144: 377, 40: 378, 291: 379, 431: 380, 120: 381, 216: 382, 313: 383, 157: 384, 282: 385, 231: 386, 324: 387, 329: 388, 345: 389, 39: 390, 273: 391, 122: 392, 79: 393, 388: 394, 380: 395, 343: 396, 254: 397, 117: 398, 133: 399, 1: 400, 354: 401, 287: 402, 155: 403, 285: 404, 58: 405, 69: 406, 305: 407, 218: 408, 220: 409, 189: 410, 106: 411, 87: 412, 351: 413, 363: 414, 175: 415, 180: 416, 415: 417, 387: 418, 394: 419, 424: 420, 146: 421, 232: 422, 314: 423, 320: 424, 276: 425, 217: 426, 57: 427, 51: 428, 361: 429, 419: 430, 271: 431, 370: 432, 350: 433, 10: 434, 7: 435, 140: 436}

In [17]:
scaler = MinMaxScaler()
place_ratings = df_collaborative['Place_Ratings'].tolist()
place_ratings_scaled = scaler.fit_transform(np.array(place_ratings).reshape(-1, 1))
df_collaborative['Place_Ratings'] = place_ratings_scaled

In [18]:
df_collaborative['User'] = df_collaborative['User_Id'].map(user_id_encoded)
df_collaborative['Place'] = df_collaborative['Place_Id'].map(place_id_encoded)
df_collaborative

      User_Id  Place_Id  Place_Ratings  User  Place
0           1       179           0.50     0      0
1           1       344           0.25     0      1
2           1         5           1.00     0      2
3           1       373           0.50     0      3
4           1       101           0.75     0      4
...       ...       ...            ...   ...    ...
9995      300       425           0.25   299    324
9996      300        64           0.75   299    132
9997      300       311           0.50   299    348
9998      300       279           0.75   299    290
9999      300       163           0.25   299    243

[10000 rows x 5 columns]

In [19]:
x_train, x_test, y_train, y_test = train_test_split(df_collaborative[['User', 'Place']].values, df_collaborative['Place_Ratings'].values, test_size=0.2, random_state=42,shuffle=True)

In [20]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((8000, 2), (2000, 2), (8000,), (2000,))

In [21]:
def build_recommender_net(num_users, num_place, embedding_size):
    input_layer = tf.keras.layers.Input(shape=(2,), name='input_layer')

    user_input = input_layer[:,:1]
    place_input = input_layer[:,1:]

    user_embedding = tf.keras.layers.Embedding(
        num_users,
        embedding_size,
        embeddings_initializer='he_normal',
        embeddings_regularizer=tf.keras.regularizers.l2(1e-6)
    )(user_input)
    user_bias = tf.keras.layers.Embedding(num_users, 1)(user_input)

    place_embedding = tf.keras.layers.Embedding(
        num_place,
        embedding_size,
        embeddings_initializer='he_normal',
        embeddings_regularizer=tf.keras.regularizers.l2(1e-6)
    )(place_input)
    place_bias = tf.keras.layers.Embedding(num_place, 1)(place_input)

    dot_user_place = tf.keras.layers.Dot(axes=2)([user_embedding, place_embedding])

    x = tf.keras.layers.Add()([dot_user_place, user_bias, place_bias])
    x = tf.keras.layers.Flatten()(x)
    x = tf.keras.layers.Dense(128, activation='relu')(x)
    x = tf.keras.layers.Dense(64, activation='relu')(x)
    output = tf.keras.layers.Dense(1, activation='sigmoid')(x)

    model = tf.keras.models.Model(inputs=input_layer, outputs=output)
    return model

In [22]:
model = build_recommender_net(num_users=len(user_id_encoded), num_place=len(place_id_encoded), embedding_size=128)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=[tf.keras.metrics.RootMeanSquaredError()])

In [24]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_layer (InputLayer)       [(None, 2)]          0           []

 tf.__operators__.getitem (Slic  (None, 1)           0           ['input_layer[0][0]']
 ingOpLambda)

 tf.__operators__.getitem_1 (Sl  (None, 1)           0           ['input_layer[0][0]']
 icingOpLambda)

 embedding (Embedding)          (None, 1, 128)       38400       ['tf.__operators__.getitem[0][0]'
                                                                 ]

 embedding_2 (Embedding)        (None, 1, 128)       55936       ['tf.__operators__.getitem_1[0][0
                                                                 ]']

 dot (Dot)                      (None, 1, 1)         0           ['embedding[0][0]',
                                                                  'embedding_2[0][0]']

 embedding_1 (Embedding)        (None, 1, 1)         300         ['tf.__operators__.getitem[0][0]'
                                                                 ]

 embedding_3 (Embedding)        (None, 1, 1)         437         ['tf.__operators__.getitem_1[0][0
                                                                 ]']

 add (Add)                      (None, 1, 1)         0           ['dot[0][0]',
                                                                  'embedding_1[0][0]',
                                                                  'embedding_3[0][0]']

 flatten (Flatten)              (None, 1)            0           ['add[0][0]']

 dense (Dense)                  (None, 128)          256         ['flatten[0][0]']

 dense_1 (Dense)                (None, 64)           8256        ['dense[0][0]']

 dense_2 (Dense)                (None, 1)            65          ['dense_1[0][0]']

==================================================================================================
Total params: 103,650
Trainable params: 103,650
Non-trainable params: 0
__________________________________________________________________________________________________

In [24]:
model.fit(x_train, y_train, batch_size=128,epochs=100, verbose=2, validation_data=(x_test, y_test))

Epoch 1/100
63/63 - 3s - loss: 0.6931 - root_mean_squared_error: 0.3454 - val_loss: 0.6941 - val_root_mean_squared_error: 0.3437 - 3s/epoch - 55ms/step
Epoch 2/100
63/63 - 1s - loss: 0.6797 - root_mean_squared_error: 0.3358 - val_loss: 0.7046 - val_root_mean_squared_error: 0.3507 - 690ms/epoch - 11ms/step
Epoch 3/100
63/63 - 1s - loss: 0.5947 - root_mean_squared_error: 0.2724 - val_loss: 0.7746 - val_root_mean_squared_error: 0.3859 - 709ms/epoch - 11ms/step
Epoch 4/100
63/63 - 1s - loss: 0.5360 - root_mean_squared_error: 0.2267 - val_loss: 0.7828 - val_root_mean_squared_error: 0.3905 - 633ms/epoch - 10ms/step
Epoch 5/100
63/63 - 1s - loss: 0.5027 - root_mean_squared_error: 0.1965 - val_loss: 0.8212 - val_root_mean_squared_error: 0.4042 - 616ms/epoch - 10ms/step
Epoch 6/100
63/63 - 1s - loss: 0.4836 - root_mean_squared_error: 0.1782 - val_loss: 0.8373 - val_root_mean_squared_error: 0.4083 - 622ms/epoch - 10ms/step
Epoch 7/100
63/63 - 1s - loss: 0.4630 - root_mean_squared_error: 0.1560 - val_loss: 0.8602 - val_root_mean_squared_error: 0.4142 - 714ms/epoch - 11ms/step
Epoch 8/100
63/63 - 1s - loss: 0.4431 - root_mean_squared_error: 0.1283 - val_loss: 0.9018 - val_root_mean_squared_error: 0.4261 - 695ms/epoch - 11ms/step
Epoch 9/100
63/63 - 1s - loss: 0.4317 - root_mean_squared_error: 0.1162 - val_loss: 0.9142 - val_root_mean_squared_error: 0.4304 - 605ms/epoch - 10ms/step
Epoch 10/100
63/63 - 1s - loss: 0.4234 - root_mean_squared_error: 0.1086 - val_loss: 0.9157 - val_root_mean_squared_error: 0.4298 - 620ms/epoch - 10ms/step
Epoch 11/100
63/63 - 1s - loss: 0.4173 - root_mean_squared_error: 0.1018 - val_loss: 0.9249 - val_root_mean_squared_error: 0.4319 - 701ms/epoch - 11ms/step
Epoch 12/100
63/63 - 1s - loss: 0.4133 - root_mean_squared_error: 0.0975 - val_loss: 0.9244 - val_root_mean_squared_error: 0.4315 - 646ms/epoch - 10ms/step
Epoch 13/100
63/63 - 1s - loss: 0.4103 - root_mean_squared_error: 0.0948 - val_loss: 0.9530 - val_root_mean_squared_error: 0.4362 - 630ms/epoch - 10ms/step
Epoch 14/100
63/63 - 1s - loss: 0.4083 - root_mean_squared_error: 0.0922 - val_loss: 0.9421 - val_root_mean_squared_error: 0.4332 - 701ms/epoch - 11ms/step
Epoch 15/100
63/63 - 1s - loss: 0.4076 - root_mean_squared_error: 0.0931 - val_loss: 0.9544 - val_root_mean_squared_error: 0.4352 - 880ms/epoch - 14ms/step
Epoch 16/100
63/63 - 1s - loss: 0.4062 - root_mean_squared_error: 0.0908 - val_loss: 0.9487 - val_root_mean_squared_error: 0.4334 - 840ms/epoch - 13ms/step
Epoch 17/100
63/63 - 1s - loss: 0.4043 - root_mean_squared_error: 0.0876 - val_loss: 0.9380 - val_root_mean_squared_error: 0.4292 - 941ms/epoch - 15ms/step
Epoch 18/100
63/63 - 2s - loss: 0.4028 - root_mean_squared_error: 0.0856 - val_loss: 0.9589 - val_root_mean_squared_error: 0.4323 - 2s/epoch - 30ms/step
Epoch 19/100
63/63 - 1s - loss: 0.4021 - root_mean_squared_error: 0.0845 - val_loss: 0.9524 - val_root_mean_squared_error: 0.4307 - 1s/epoch - 19ms/step
Epoch 20/100
63/63 - 2s - loss: 0.4014 - root_mean_squared_error: 0.0830 - val_loss: 0.9499 - val_root_mean_squared_error: 0.4285 - 2s/epoch - 37ms/step
Epoch 21/100
63/63 - 4s - loss: 0.4006 - root_mean_squared_error: 0.0821 - val_loss: 0.9554 - val_root_mean_squared_error: 0.4297 - 4s/epoch - 58ms/step
Epoch 22/100
63/63 - 3s - loss: 0.4009 - root_mean_squared_error: 0.0825 - val_loss: 0.9458 - val_root_mean_squared_error: 0.4265 - 3s/epoch - 42ms/step
Epoch 23/100
63/63 - 2s - loss: 0.4004 - root_mean_squared_error: 0.0825 - val_loss: 0.9569 - val_root_mean_squared_error: 0.4285 - 2s/epoch - 31ms/step
Epoch 24/100
63/63 - 2s - loss: 0.3995 - root_mean_squared_error: 0.0800 - val_loss: 0.9435 - val_root_mean_squared_error: 0.4246 - 2s/epoch - 29ms/step
Epoch 25/100
63/63 - 1s - loss: 0.3993 - root_mean_squared_error: 0.0800 - val_loss: 0.9283 - val_root_mean_squared_error: 0.4226 - 1s/epoch - 21ms/step
Epoch 26/100
63/63 - 2s - loss: 0.4005 - root_mean_squared_error: 0.0829 - val_loss: 0.9343 - val_root_mean_squared_error: 0.4215 - 2s/epoch - 26ms/step
Epoch 27/100
63/63 - 2s - loss: 0.3994 - root_mean_squared_error: 0.0808 - val_loss: 0.9402 - val_root_mean_squared_error: 0.4215 - 2s/epoch - 29ms/step
Epoch 28/100
63/63 - 2s - loss: 0.3987 - root_mean_squared_error: 0.0793 - val_loss: 0.9454 - val_root_mean_squared_error: 0.4221 - 2s/epoch - 28ms/step
Epoch 29/100
63/63 - 2s - loss: 0.3970 - root_mean_squared_error: 0.0753 - val_loss: 0.9428 - val_root_mean_squared_error: 0.4204 - 2s/epoch - 27ms/step
Epoch 30/100
63/63 - 2s - loss: 0.3978 - root_mean_squared_error: 0.0774 - val_loss: 0.9291 - val_root_mean_squared_error: 0.4186 - 2s/epoch - 26ms/step
Epoch 31/100
63/63 - 2s - loss: 0.3977 - root_mean_squared_error: 0.0771 - val_loss: 0.9411 - val_root_mean_squared_error: 0.4196 - 2s/epoch - 25ms/step
Epoch 32/100
63/63 - 2s - loss: 0.3982 - root_mean_squared_error: 0.0777 - val_loss: 0.9214 - val_root_mean_squared_error: 0.4159 - 2s/epoch - 24ms/step
Epoch 33/100
63/63 - 1s - loss: 0.3973 - root_mean_squared_error: 0.0764 - val_loss: 0.9422 - val_root_mean_squared_error: 0.4185 - 1s/epoch - 24ms/step
Epoch 34/100
63/63 - 2s - loss: 0.3973 - root_mean_squared_error: 0.0763 - val_loss: 0.9189 - val_root_mean_squared_error: 0.4145 - 2s/epoch - 27ms/step
Epoch 35/100
63/63 - 1s - loss: 0.3978 - root_mean_squared_error: 0.0778 - val_loss: 0.9292 - val_root_mean_squared_error: 0.4155 - 1s/epoch - 19ms/step
Epoch 36/100
63/63 - 1s - loss: 0.3969 - root_mean_squared_error: 0.0756 - val_loss: 0.9304 - val_root_mean_squared_error: 0.4151 - 1s/epoch - 17ms/step
Epoch 37/100
63/63 - 1s - loss: 0.3967 - root_mean_squared_error: 0.0754 - val_loss: 0.9303 - val_root_mean_squared_error: 0.4148 - 953ms/epoch - 15ms/step
Epoch 38/100
63/63 - 1s - loss: 0.3963 - root_mean_squared_error: 0.0742 - val_loss: 0.9312 - val_root_mean_squared_error: 0.4155 - 896ms/epoch - 14ms/step
Epoch 39/100
63/63 - 1s - loss: 0.3962 - root_mean_squared_error: 0.0743 - val_loss: 0.9340 - val_root_mean_squared_error: 0.4134 - 876ms/epoch - 14ms/step
Epoch 40/100
63/63 - 1s - loss: 0.3958 - root_mean_squared_error: 0.0727 - val_loss: 0.9196 - val_root_mean_squared_error: 0.4118 - 994ms/epoch - 16ms/step
Epoch 41/100
63/63 - 1s - loss: 0.3956 - root_mean_squared_error: 0.0732 - val_loss: 0.9368 - val_root_mean_squared_error: 0.4139 - 790ms/epoch - 13ms/step
Epoch 42/100
63/63 - 1s - loss: 0.3963 - root_mean_squared_error: 0.0736 - val_loss: 0.9233 - val_root_mean_squared_error: 0.4120 - 911ms/epoch - 14ms/step
Epoch 43/100
63/63 - 1s - loss: 0.3961 - root_mean_squared_error: 0.0735 - val_loss: 0.9296 - val_root_mean_squared_error: 0.4125 - 975ms/epoch - 15ms/step
Epoch 44/100
63/63 - 1s - loss: 0.3963 - root_mean_squared_error: 0.0740 - val_loss: 0.9096 - val_root_mean_squared_error: 0.4091 - 681ms/epoch - 11ms/step
Epoch 45/100
63/63 - 1s - loss: 0.3957 - root_mean_squared_error: 0.0735 - val_loss: 0.9278 - val_root_mean_squared_error: 0.4112 - 689ms/epoch - 11ms/step
Epoch 46/100
63/63 - 1s - loss: 0.3957 - root_mean_squared_error: 0.0725 - val_loss: 0.9232 - val_root_mean_squared_error: 0.4108 - 727ms/epoch - 12ms/step
Epoch 47/100
63/63 - 1s - loss: 0.3960 - root_mean_squared_error: 0.0740 - val_loss: 0.9190 - val_root_mean_squared_error: 0.4101 - 674ms/epoch - 11ms/step
Epoch 48/100
63/63 - 1s - loss: 0.3966 - root_mean_squared_error: 0.0746 - val_loss: 0.9084 - val_root_mean_squared_error: 0.4079 - 628ms/epoch - 10ms/step
Epoch 49/100
63/63 - 1s - loss: 0.3958 - root_mean_squared_error: 0.0732 - val_loss: 0.9158 - val_root_mean_squared_error: 0.4079 - 859ms/epoch - 14ms/step
Epoch 50/100
63/63 - 1s - loss: 0.3957 - root_mean_squared_error: 0.0727 - val_loss: 0.8968 - val_root_mean_squared_error: 0.4055 - 839ms/epoch - 13ms/step
Epoch 51/100
63/63 - 1s - loss: 0.3966 - root_mean_squared_error: 0.0734 - val_loss: 0.9121 - val_root_mean_squared_error: 0.4070 - 767ms/epoch - 12ms/step
Epoch 52/100
63/63 - 1s - loss: 0.3955 - root_mean_squared_error: 0.0723 - val_loss: 0.9204 - val_root_mean_squared_error: 0.4081 - 775ms/epoch - 12ms/step
Epoch 53/100
63/63 - 1s - loss: 0.3955 - root_mean_squared_error: 0.0720 - val_loss: 0.9120 - val_root_mean_squared_error: 0.4075 - 646ms/epoch - 10ms/step
Epoch 54/100
63/63 - 1s - loss: 0.3952 - root_mean_squared_error: 0.0719 - val_loss: 0.9080 - val_root_mean_squared_error: 0.4054 - 716ms/epoch - 11ms/step
Epoch 55/100
63/63 - 1s - loss: 0.3957 - root_mean_squared_error: 0.0727 - val_loss: 0.9164 - val_root_mean_squared_error: 0.4063 - 601ms/epoch - 10ms/step
Epoch 56/100
63/63 - 1s - loss: 0.3952 - root_mean_squared_error: 0.0719 - val_loss: 0.9051 - val_root_mean_squared_error: 0.4032 - 708ms/epoch - 11ms/step
Epoch 57/100
63/63 - 1s - loss: 0.3963 - root_mean_squared_error: 0.0744 - val_loss: 0.9032 - val_root_mean_squared_error: 0.4035 - 638ms/epoch - 10ms/step
Epoch 58/100
63/63 - 1s - loss: 0.3960 - root_mean_squared_error: 0.0734 - val_loss: 0.9051 - val_root_mean_squared_error: 0.4039 - 617ms/epoch - 10ms/step
Epoch 59/100
63/63 - 1s - loss: 0.3962 - root_mean_squared_error: 0.0734 - val_loss: 0.8961 - val_root_mean_squared_error: 0.4017 - 614ms/epoch - 10ms/step
Epoch 60/100
63/63 - 1s - loss: 0.3951 - root_mean_squared_error: 0.0717 - val_loss: 0.9056 - val_root_mean_squared_error: 0.4026 - 779ms/epoch - 12ms/step
Epoch 61/100
63/63 - 1s - loss: 0.3948 - root_mean_squared_error: 0.0715 - val_loss: 0.9028 - val_root_mean_squared_error: 0.4027 - 636ms/epoch - 10ms/step
Epoch 62/100
63/63 - 1s - loss: 0.3951 - root_mean_squared_error: 0.0718 - val_loss: 0.8960 - val_root_mean_squared_error: 0.4006 - 750ms/epoch - 12ms/step
Epoch 63/100
63/63 - 1s - loss: 0.3951 - root_mean_squared_error: 0.0715 - val_loss: 0.8940 - val_root_mean_squared_error: 0.3995 - 766ms/epoch - 12ms/step
Epoch 64/100
63/63 - 1s - loss: 0.3953 - root_mean_squared_error: 0.0731 - val_loss: 0.9116 - val_root_mean_squared_error: 0.4018 - 943ms/epoch - 15ms/step
Epoch 65/100
63/63 - 1s - loss: 0.3951 - root_mean_squared_error: 0.0716 - val_loss: 0.9024 - val_root_mean_squared_error: 0.4012 - 844ms/epoch - 13ms/step
Epoch 66/100
63/63 - 1s - loss: 0.3960 - root_mean_squared_error: 0.0731 - val_loss: 0.8994 - val_root_mean_squared_error: 0.4016 - 981ms/epoch - 16ms/step
Epoch 67/100
63/63 - 1s - loss: 0.3956 - root_mean_squared_error: 0.0726 - val_loss: 0.9020 - val_root_mean_squared_error: 0.4009 - 977ms/epoch - 16ms/step
Epoch 68/100
63/63 - 1s - loss: 0.3945 - root_mean_squared_error: 0.0701 - val_loss: 0.9007 - val_root_mean_squared_error: 0.3998 - 612ms/epoch - 10ms/step
Epoch 69/100
63/63 - 1s - loss: 0.3951 - root_mean_squared_error: 0.0720 - val_loss: 0.9063 - val_root_mean_squared_error: 0.4012 - 667ms/epoch - 11ms/step
Epoch 70/100
63/63 - 1s - loss: 0.3944 - root_mean_squared_error: 0.0703 - val_loss: 0.9077 - val_root_mean_squared_error: 0.3994 - 721ms/epoch - 11ms/step
Epoch 71/100
63/63 - 1s - loss: 0.3945 - root_mean_squared_error: 0.0707 - val_loss: 0.9033 - val_root_mean_squared_error: 0.3999 - 767ms/epoch - 12ms/step
Epoch 72/100
63/63 - 1s - loss: 0.3950 - root_mean_squared_error: 0.0711 - val_loss: 0.8956 - val_root_mean_squared_error: 0.3969 - 645ms/epoch - 10ms/step
Epoch 73/100
63/63 - 1s - loss: 0.3946 - root_mean_squared_error: 0.0710 - val_loss: 0.8961 - val_root_mean_squared_error: 0.3965 - 614ms/epoch - 10ms/step
Epoch 74/100
63/63 - 1s - loss: 0.3941 - root_mean_squared_error: 0.0698 - val_loss: 0.8957 - val_root_mean_squared_error: 0.3971 - 814ms/epoch - 13ms/step
Epoch 75/100
63/63 - 1s - loss: 0.3950 - root_mean_squared_error: 0.0704 - val_loss: 0.9013 - val_root_mean_squared_error: 0.3998 - 800ms/epoch - 13ms/step
Epoch 76/100
63/63 - 1s - loss: 0.3949 - root_mean_squared_error: 0.0714 - val_loss: 0.8946 - val_root_mean_squared_error: 0.3974 - 755ms/epoch - 12ms/step
Epoch 77/100
63/63 - 1s - loss: 0.3955 - root_mean_squared_error: 0.0739 - val_loss: 0.8984 - val_root_mean_squared_error: 0.3976 - 896ms/epoch - 14ms/step
Epoch 78/100
63/63 - 1s - loss: 0.3964 - root_mean_squared_error: 0.0733 - val_loss: 0.8859 - val_root_mean_squared_error: 0.3958 - 779ms/epoch - 12ms/step
Epoch 79/100
63/63 - 1s - loss: 0.3951 - root_mean_squared_error: 0.0723 - val_loss: 0.8857 - val_root_mean_squared_error: 0.3936 - 748ms/epoch - 12ms/step
Epoch 80/100
63/63 - 1s - loss: 0.3949 - root_mean_squared_error: 0.0722 - val_loss: 0.8998 - val_root_mean_squared_error: 0.3955 - 683ms/epoch - 11ms/step
Epoch 81/100
63/63 - 1s - loss: 0.3957 - root_mean_squared_error: 0.0728 - val_loss: 0.8935 - val_root_mean_squared_error: 0.3962 - 907ms/epoch - 14ms/step
Epoch 82/100
63/63 - 1s - loss: 0.3951 - root_mean_squared_error: 0.0723 - val_loss: 0.8895 - val_root_mean_squared_error: 0.3943 - 938ms/epoch - 15ms/step
Epoch 83/100
63/63 - 1s - loss: 0.3947 - root_mean_squared_error: 0.0716 - val_loss: 0.8897 - val_root_mean_squared_error: 0.3929 - 1s/epoch - 17ms/step
Epoch 84/100
63/63 - 1s - loss: 0.3948 - root_mean_squared_error: 0.0708 - val_loss: 0.8900 - val_root_mean_squared_error: 0.3944 - 1s/epoch - 19ms/step
Epoch 85/100
63/63 - 1s - loss: 0.3958 - root_mean_squared_error: 0.0721 - val_loss: 0.8946 - val_root_mean_squared_error: 0.3960 - 1s/epoch - 16ms/step
Epoch 86/100
63/63 - 1s - loss: 0.3944 - root_mean_squared_error: 0.0696 - val_loss: 0.9013 - val_root_mean_squared_error: 0.3959 - 1s/epoch - 20ms/step
Epoch 87/100
63/63 - 1s - loss: 0.3947 - root_mean_squared_error: 0.0695 - val_loss: 0.8880 - val_root_mean_squared_error: 0.3955 - 1s/epoch - 17ms/step
Epoch 88/100
63/63 - 1s - loss: 0.3942 - root_mean_squared_error: 0.0693 - val_loss: 0.8942 - val_root_mean_squared_error: 0.3942 - 1s/epoch - 22ms/step
Epoch 89/100
63/63 - 1s - loss: 0.3939 - root_mean_squared_error: 0.0680 - val_loss: 0.9033 - val_root_mean_squared_error: 0.3947 - 1s/epoch - 19ms/step
Epoch 90/100
63/63 - 1s - loss: 0.3941 - root_mean_squared_error: 0.0690 - val_loss: 0.9072 - val_root_mean_squared_error: 0.3978 - 1s/epoch - 18ms/step
Epoch 91/100
63/63 - 1s - loss: 0.3944 - root_mean_squared_error: 0.0695 - val_loss: 0.8807 - val_root_mean_squared_error: 0.3924 - 1s/epoch - 16ms/step
Epoch 92/100
63/63 - 1s - loss: 0.3940 - root_mean_squared_error: 0.0696 - val_loss: 0.8991 - val_root_mean_squared_error: 0.3971 - 897ms/epoch - 14ms/step
Epoch 93/100
63/63 - 1s - loss: 0.3944 - root_mean_squared_error: 0.0706 - val_loss: 0.8983 - val_root_mean_squared_error: 0.3953 - 1s/epoch - 18ms/step
Epoch 94/100
63/63 - 1s - loss: 0.3944 - root_mean_squared_error: 0.0706 - val_loss: 0.9005 - val_root_mean_squared_error: 0.3945 - 984ms/epoch - 16ms/step
Epoch 95/100
63/63 - 1s - loss: 0.3952 - root_mean_squared_error: 0.0709 - val_loss: 0.9014 - val_root_mean_squared_error: 0.3964 - 929ms/epoch - 15ms/step
Epoch 96/100
63/63 - 1s - loss: 0.3940 - root_mean_squared_error: 0.0696 - val_loss: 0.8997 - val_root_mean_squared_error: 0.3949 - 815ms/epoch - 13ms/step
Epoch 97/100
63/63 - 1s - loss: 0.3945 - root_mean_squared_error: 0.0703 - val_loss: 0.8955 - val_root_mean_squared_error: 0.3944 - 598ms/epoch - 9ms/step
Epoch 98/100
63/63 - 1s - loss: 0.3953 - root_mean_squared_error: 0.0712 - val_loss: 0.8923 - val_root_mean_squared_error: 0.3933 - 619ms/epoch - 10ms/step
Epoch 99/100
63/63 - 1s - loss: 0.3946 - root_mean_squared_error: 0.0711 - val_loss: 0.8799 - val_root_mean_squared_error: 0.3911 - 935ms/epoch - 15ms/step
Epoch 100/100
63/63 - 1s - loss: 0.3958 - root_mean_squared_error: 0.0723 - val_loss: 0.8913 - val_root_mean_squared_error: 0.3920 - 1s/epoch - 20ms/step

In [25]:
user_id = 1
place_visited = df_tourism_rating[df_tourism_rating['User_Id'] == user_id]
place_visited.head()

   User_Id  Place_Id  Place_Ratings
0        1       179              3
1        1       344              2
2        1         5              5
3        1       373              3
4        1       101              4

In [26]:
place_not_visited = df_tourism[~df_tourism['Place_Id'].isin(place_visited['Place_Id'])]['Place_Id']
place_not_visited = list(set(place_not_visited).intersection(set(place_id_encoded.keys())))
place_not_visited = [[place_id_encoded.get(x)] for x in place_not_visited]
user_encoder = user_id_encoded.get(user_id)
user_place_array = np.hstack(([[user_encoder]] * len(place_not_visited), place_not_visited))

In [27]:
ratings = model.predict(user_place_array).flatten()

13/13 [==============================] - 0s 9ms/step

In [28]:
top_ratings_indices = ratings.argsort()[-10:][::-1]
recommended_place_ids = [place_id_encoded.get(place_not_visited[x][0]) for x in top_ratings_indices]

In [29]:
print(f"\nRecommended places for user id {user_id}")
recommended_place = df_tourism[df_tourism['Place_Id'].isin(recommended_place_ids)]
for row in recommended_place.itertuples():
  print("-",row.Place_Id, ":", row.Place_Name)

Recommended places for user id 1
- 3 : Dunia Fantasi
- 27 : Sea World
- 87 : Sindu Kusuma Edupark (SKE)
- 159 : Hutan Pinus Asri
- 198 : Pantai Greweng
- 270 : Bukit Bintang
- 301 : Lereng Anteng Panoramic Coffee Place
- 358 : Masjid Kapal Semarang
- 375 : Kota Lama Semarang
- 421 : Museum Kesehatan Dr. Adhyatma

In [31]:
pkl.dump(df_tourism_rating, open('pickles/df_tourism_rating.pkl', 'wb'))
pkl.dump(df_tourism, open('pickles/df_tourism.pkl', 'wb'))
pkl.dump(place_id_encoded, open('pickles/place_id_encoded.pkl', 'wb'))
pkl.dump(user_id_encoded, open('pickles/user_id_encoded.pkl', 'wb'))

In [30]:
model.save('model/model.h5')