In [108]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [109]:
df_item = pd.read_csv('../../Dataset/Local Attraction/data_encoded (4).csv')
df_item.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,...,_1,Rating_Count,Alam,Hiburan,Kuliner,Olahraga,Rekreasi,Religius,Sejarah Edukasi,Seni Budaya
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Sejarah Edukasi,Jakarta,20000,46,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-61753924,...,1,18,0,0,0,0,0,0,1,0
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...","Sejarah Edukasi,Seni Budaya,Kuliner",Jakarta,0,46,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-61376448,...,2,25,0,0,1,0,0,0,1,1
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,"Rekreasi,Hiburan",Jakarta,270000,46,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-61253124,...,3,19,0,1,0,0,1,0,0,0
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,"Sejarah Edukasi,Seni Budaya,Rekreasi",Jakarta,10000,45,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-63024459,...,4,21,0,0,0,0,1,0,1,1
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,"Rekreasi,Olahraga",Jakarta,94000,45,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-612419,...,5,24,0,0,0,1,1,0,0,0

In [110]:
df_item.columns

Index(['Place_Id', 'Place_Name', 'Description', 'Category', 'City', 'Price',
       'Rating', 'Time_Minutes', 'Coordinate', 'Lat', 'Long', 'Column1', '_1',
       'Rating_Count', 'Alam', 'Hiburan', 'Kuliner', 'Olahraga', 'Rekreasi',
       'Religius', 'Sejarah Edukasi', 'Seni Budaya'],
      dtype='object')

In [111]:
drop_columns = df_item.columns[2:14]
df_item = df_item.drop(drop_columns, axis=1)
df_item.head()

,Place_Id,Place_Name,Alam,Hiburan,Kuliner,Olahraga,Rekreasi,Religius,Sejarah Edukasi,Seni Budaya
0,1,Monumen Nasional,0,0,0,0,0,0,1,0
1,2,Kota Tua,0,0,1,0,0,0,1,1
2,3,Dunia Fantasi,0,1,0,0,1,0,0,0
3,4,Taman Mini Indonesia Indah (TMII),0,0,0,0,1,0,1,1
4,5,Atlantis Water Adventure,0,0,0,1,1,0,0,0

In [112]:
df_user = pd.read_csv('../../Dataset/User Rating/user_preference.csv')
df_user.head()

,User,Alam,Hiburan,Kuliner,Olahraga,Rekreasi,Religius,Sejarah Edukasi,Seni Budaya
0,User 1,0.363,0.260109,0.213392,0.0,0.226027,0.0,0.189003,0.587863
1,User 2,0.363,0.261202,0.213392,0.0,0.248097,0.0,0.189003,0.587863
2,User 3,0.363,0.260109,0.213392,0.0,0.246575,0.0,0.189003,0.587863
3,User 4,0.363,0.260109,0.213392,0.0,0.224505,0.0,0.189003,0.587863
4,User 5,0.363,0.260109,0.213392,0.0,0.246575,0.0,0.189003,0.587863

In [113]:
df_user.columns = df_user.iloc[0]
drop_columns = df_user.columns[0]
df_user = df_user.drop(drop_columns, axis=1)
df_user = df_user.iloc[:df_item.shape[0]]

df_item.columns = df_item.iloc[0]
drop_columns = df_item.columns[:2]
df_item = df_item.drop(drop_columns, axis=1)

In [114]:
user_train, user_test = train_test_split(df_user, test_size=0.2, random_state=42)
item_train, item_test = train_test_split(df_item, test_size=0.2, random_state=42)
user_train.shape, user_test.shape, item_train.shape, item_test.shape

feature_user = user_train.shape[1]
feature_item = item_train.shape[1]

In [115]:
user_model = tf.keras.Sequential([
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(32, activation='linear'),
])
item_model = tf.keras.Sequential([
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(32, activation='linear'),
])

input_user = tf.keras.layers.Input(shape=(feature_user))  
input_item = tf.keras.layers.Input(shape=(feature_item))

vector_user = tf.linalg.l2_normalize(user_model(input_user), axis=1)
vector_item = tf.linalg.l2_normalize(item_model(input_item), axis=1)

output = tf.keras.layers.Dot(axes=1)([vector_user, vector_item])
model = tf.keras.Model(inputs=[input_user, input_item], outputs=output)
model.summary()
model.compile(optimizer='adam', loss='mse', metrics=['mse'])

Model: "model_7"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_15 (InputLayer)          [(None, 8)]          0           []

 input_16 (InputLayer)          [(None, 7)]          0           []

 sequential_14 (Sequential)     (None, 32)           39328       ['input_15[0][0]']

 sequential_15 (Sequential)     (None, 32)           39072       ['input_16[0][0]']

 tf.math.l2_normalize_14 (TFOpL  (None, 32)          0           ['sequential_14[0][0]']
 ambda)

 tf.math.l2_normalize_15 (TFOpL  (None, 32)          0           ['sequential_15[0][0]']
 ambda)

 dot_7 (Dot)                    (None, 1)            0           ['tf.math.l2_normalize_14[0][0]',
                                                                  'tf.math.l2_normalize_15[0][0]']

==================================================================================================
Total params: 78,400
Trainable params: 78,400
Non-trainable params: 0
__________________________________________________________________________________________________

In [122]:
model.fit([user_train, item_train],tf.ones_like(user_train), epochs=100, batch_size=32)

Epoch 1/100
 1/11 [=>............................] - ETA: 0s - loss: 2.3836e-06 - mse: 2.3836e-06

11/11 [==============================] - 0s 22ms/step - loss: 2.7052e-06 - mse: 2.7052e-06
Epoch 2/100
11/11 [==============================] - 0s 9ms/step - loss: 2.6608e-06 - mse: 2.6608e-06
Epoch 3/100
11/11 [==============================] - 0s 15ms/step - loss: 2.6169e-06 - mse: 2.6169e-06
Epoch 4/100
11/11 [==============================] - 0s 11ms/step - loss: 2.5731e-06 - mse: 2.5731e-06
Epoch 5/100
11/11 [==============================] - 0s 16ms/step - loss: 2.5343e-06 - mse: 2.5343e-06
Epoch 6/100
11/11 [==============================] - 0s 16ms/step - loss: 2.4872e-06 - mse: 2.4872e-06
Epoch 7/100
11/11 [==============================] - 0s 15ms/step - loss: 2.4492e-06 - mse: 2.4492e-06
Epoch 8/100
11/11 [==============================] - 0s 9ms/step - loss: 2.4111e-06 - mse: 2.4111e-06
Epoch 9/100
11/11 [==============================] - 0s 8ms/step - loss: 2.3709e-06 - mse: 2.3709e-06
Epoch 10/100
11/11 [==============================] - 0s 7ms/step - loss: 2.3354e-06 - mse: 2.3354e-06
Epoch 11/100
11/11 [==============================] - 0s 9ms/step - loss: 2.2931e-06 - mse: 2.2931e-06
Epoch 12/100
11/11 [==============================] - 0s 13ms/step - loss: 2.2580e-06 - mse: 2.2580e-06
Epoch 13/100
11/11 [==============================] - 0s 14ms/step - loss: 2.2213e-06 - mse: 2.2213e-06
Epoch 14/100
11/11 [==============================] - 0s 12ms/step - loss: 2.1870e-06 - mse: 2.1870e-06
Epoch 15/100
11/11 [==============================] - 0s 12ms/step - loss: 2.1556e-06 - mse: 2.1556e-06
Epoch 16/100
11/11 [==============================] - 0s 15ms/step - loss: 2.1246e-06 - mse: 2.1246e-06
Epoch 17/100
11/11 [==============================] - 0s 12ms/step - loss: 2.0887e-06 - mse: 2.0887e-06
Epoch 18/100
11/11 [==============================] - 0s 11ms/step - loss: 2.0561e-06 - mse: 2.0561e-06
Epoch 19/100
11/11 [==============================] - 0s 8ms/step - loss: 2.0271e-06 - mse: 2.0271e-06
Epoch 20/100
11/11 [==============================] - 0s 10ms/step - loss: 1.9974e-06 - mse: 1.9974e-06
Epoch 21/100
11/11 [==============================] - 0s 7ms/step - loss: 1.9682e-06 - mse: 1.9682e-06
Epoch 22/100
11/11 [==============================] - 0s 9ms/step - loss: 1.9390e-06 - mse: 1.9390e-06
Epoch 23/100
11/11 [==============================] - 0s 7ms/step - loss: 1.9105e-06 - mse: 1.9105e-06
Epoch 24/100
11/11 [==============================] - 0s 6ms/step - loss: 1.8839e-06 - mse: 1.8839e-06
Epoch 25/100
11/11 [==============================] - 0s 9ms/step - loss: 1.8558e-06 - mse: 1.8558e-06
Epoch 26/100
11/11 [==============================] - 0s 7ms/step - loss: 1.8307e-06 - mse: 1.8307e-06
Epoch 27/100
11/11 [==============================] - 0s 13ms/step - loss: 1.8005e-06 - mse: 1.8005e-06
Epoch 28/100
11/11 [==============================] - 0s 9ms/step - loss: 1.7735e-06 - mse: 1.7735e-06
Epoch 29/100
11/11 [==============================] - 0s 9ms/step - loss: 1.7510e-06 - mse: 1.7510e-06
Epoch 30/100
11/11 [==============================] - 0s 10ms/step - loss: 1.7247e-06 - mse: 1.7247e-06
Epoch 31/100
11/11 [==============================] - 0s 7ms/step - loss: 1.7014e-06 - mse: 1.7014e-06
Epoch 32/100
11/11 [==============================] - 0s 6ms/step - loss: 1.6766e-06 - mse: 1.6766e-06
Epoch 33/100
11/11 [==============================] - 0s 8ms/step - loss: 1.6532e-06 - mse: 1.6532e-06
Epoch 34/100
11/11 [==============================] - 0s 7ms/step - loss: 1.6266e-06 - mse: 1.6266e-06
Epoch 35/100
11/11 [==============================] - 0s 6ms/step - loss: 1.6067e-06 - mse: 1.6067e-06
Epoch 36/100
11/11 [==============================] - 0s 7ms/step - loss: 1.5805e-06 - mse: 1.5805e-06
Epoch 37/100
11/11 [==============================] - 0s 9ms/step - loss: 1.5599e-06 - mse: 1.5599e-06
Epoch 38/100
11/11 [==============================] - 0s 8ms/step - loss: 1.5365e-06 - mse: 1.5365e-06
Epoch 39/100
11/11 [==============================] - 0s 11ms/step - loss: 1.5180e-06 - mse: 1.5180e-06
Epoch 40/100
11/11 [==============================] - 0s 11ms/step - loss: 1.4939e-06 - mse: 1.4939e-06
Epoch 41/100
11/11 [==============================] - 0s 9ms/step - loss: 1.4721e-06 - mse: 1.4721e-06
Epoch 42/100
11/11 [==============================] - 0s 9ms/step - loss: 1.4519e-06 - mse: 1.4519e-06
Epoch 43/100
11/11 [==============================] - 0s 10ms/step - loss: 1.4337e-06 - mse: 1.4337e-06
Epoch 44/100
11/11 [==============================] - 0s 6ms/step - loss: 1.4147e-06 - mse: 1.4147e-06
Epoch 45/100
11/11 [==============================] - 0s 8ms/step - loss: 1.3958e-06 - mse: 1.3958e-06
Epoch 46/100
11/11 [==============================] - 0s 9ms/step - loss: 1.3746e-06 - mse: 1.3746e-06
Epoch 47/100
11/11 [==============================] - 0s 9ms/step - loss: 1.3578e-06 - mse: 1.3578e-06
Epoch 48/100
11/11 [==============================] - 0s 7ms/step - loss: 1.3417e-06 - mse: 1.3417e-06
Epoch 49/100
11/11 [==============================] - 0s 8ms/step - loss: 1.3226e-06 - mse: 1.3226e-06
Epoch 50/100
11/11 [==============================] - 0s 9ms/step - loss: 1.3071e-06 - mse: 1.3071e-06
Epoch 51/100
11/11 [==============================] - 0s 8ms/step - loss: 1.2887e-06 - mse: 1.2887e-06
Epoch 52/100
11/11 [==============================] - 0s 7ms/step - loss: 1.2720e-06 - mse: 1.2720e-06
Epoch 53/100
11/11 [==============================] - 0s 10ms/step - loss: 1.2568e-06 - mse: 1.2568e-06
Epoch 54/100
11/11 [==============================] - 0s 6ms/step - loss: 1.2410e-06 - mse: 1.2410e-06
Epoch 55/100
11/11 [==============================] - 0s 8ms/step - loss: 1.2264e-06 - mse: 1.2264e-06
Epoch 56/100
11/11 [==============================] - 0s 6ms/step - loss: 1.2108e-06 - mse: 1.2108e-06
Epoch 57/100
11/11 [==============================] - 0s 6ms/step - loss: 1.1983e-06 - mse: 1.1983e-06
Epoch 58/100
11/11 [==============================] - 0s 7ms/step - loss: 1.1813e-06 - mse: 1.1813e-06
Epoch 59/100
11/11 [==============================] - 0s 9ms/step - loss: 1.1686e-06 - mse: 1.1686e-06
Epoch 60/100
11/11 [==============================] - 0s 6ms/step - loss: 1.1551e-06 - mse: 1.1551e-06
Epoch 61/100
11/11 [==============================] - 0s 7ms/step - loss: 1.1400e-06 - mse: 1.1400e-06
Epoch 62/100
11/11 [==============================] - 0s 9ms/step - loss: 1.1250e-06 - mse: 1.1250e-06
Epoch 63/100
11/11 [==============================] - 0s 11ms/step - loss: 1.1112e-06 - mse: 1.1112e-06
Epoch 64/100
11/11 [==============================] - 0s 6ms/step - loss: 1.0981e-06 - mse: 1.0981e-06
Epoch 65/100
11/11 [==============================] - 0s 9ms/step - loss: 1.0862e-06 - mse: 1.0862e-06
Epoch 66/100
11/11 [==============================] - 0s 13ms/step - loss: 1.0738e-06 - mse: 1.0738e-06
Epoch 67/100
11/11 [==============================] - 0s 8ms/step - loss: 1.0635e-06 - mse: 1.0635e-06
Epoch 68/100
11/11 [==============================] - 0s 9ms/step - loss: 1.0505e-06 - mse: 1.0505e-06
Epoch 69/100
11/11 [==============================] - 0s 10ms/step - loss: 1.0351e-06 - mse: 1.0351e-06
Epoch 70/100
11/11 [==============================] - 0s 11ms/step - loss: 1.0234e-06 - mse: 1.0234e-06
Epoch 71/100
11/11 [==============================] - 0s 12ms/step - loss: 1.0117e-06 - mse: 1.0117e-06
Epoch 72/100
11/11 [==============================] - 0s 14ms/step - loss: 1.0005e-06 - mse: 1.0005e-06
Epoch 73/100
11/11 [==============================] - 0s 13ms/step - loss: 9.8723e-07 - mse: 9.8723e-07
Epoch 74/100
11/11 [==============================] - 0s 11ms/step - loss: 9.7679e-07 - mse: 9.7679e-07
Epoch 75/100
11/11 [==============================] - 0s 11ms/step - loss: 9.6602e-07 - mse: 9.6602e-07
Epoch 76/100
11/11 [==============================] - 0s 11ms/step - loss: 9.5549e-07 - mse: 9.5549e-07
Epoch 77/100
11/11 [==============================] - 0s 10ms/step - loss: 9.4393e-07 - mse: 9.4393e-07
Epoch 78/100
11/11 [==============================] - 0s 9ms/step - loss: 9.3366e-07 - mse: 9.3366e-07
Epoch 79/100
11/11 [==============================] - 0s 8ms/step - loss: 9.2307e-07 - mse: 9.2307e-07
Epoch 80/100
11/11 [==============================] - 0s 10ms/step - loss: 9.1454e-07 - mse: 9.1454e-07
Epoch 81/100
11/11 [==============================] - 0s 8ms/step - loss: 9.0486e-07 - mse: 9.0486e-07
Epoch 82/100
11/11 [==============================] - 0s 8ms/step - loss: 8.9265e-07 - mse: 8.9265e-07
Epoch 83/100
11/11 [==============================] - 0s 10ms/step - loss: 8.8354e-07 - mse: 8.8354e-07
Epoch 84/100
11/11 [==============================] - 0s 9ms/step - loss: 8.7313e-07 - mse: 8.7313e-07
Epoch 85/100
11/11 [==============================] - 0s 10ms/step - loss: 8.6449e-07 - mse: 8.6449e-07
Epoch 86/100
11/11 [==============================] - 0s 9ms/step - loss: 8.5498e-07 - mse: 8.5498e-07
Epoch 87/100
11/11 [==============================] - 0s 11ms/step - loss: 8.4640e-07 - mse: 8.4640e-07
Epoch 88/100
11/11 [==============================] - 0s 9ms/step - loss: 8.3667e-07 - mse: 8.3667e-07
Epoch 89/100
11/11 [==============================] - 0s 7ms/step - loss: 8.2738e-07 - mse: 8.2738e-07
Epoch 90/100
11/11 [==============================] - 0s 9ms/step - loss: 8.1908e-07 - mse: 8.1908e-07
Epoch 91/100
11/11 [==============================] - 0s 7ms/step - loss: 8.1086e-07 - mse: 8.1086e-07
Epoch 92/100
11/11 [==============================] - 0s 8ms/step - loss: 8.0236e-07 - mse: 8.0236e-07
Epoch 93/100
11/11 [==============================] - 0s 10ms/step - loss: 7.9489e-07 - mse: 7.9489e-07
Epoch 94/100
11/11 [==============================] - 0s 6ms/step - loss: 7.8557e-07 - mse: 7.8557e-07
Epoch 95/100
11/11 [==============================] - 0s 7ms/step - loss: 7.7675e-07 - mse: 7.7675e-07
Epoch 96/100
11/11 [==============================] - 0s 8ms/step - loss: 7.6851e-07 - mse: 7.6851e-07
Epoch 97/100
11/11 [==============================] - 0s 8ms/step - loss: 7.5938e-07 - mse: 7.5938e-07
Epoch 98/100
11/11 [==============================] - 0s 5ms/step - loss: 7.5259e-07 - mse: 7.5259e-07
Epoch 99/100
11/11 [==============================] - 0s 4ms/step - loss: 7.4230e-07 - mse: 7.4230e-07
Epoch 100/100
11/11 [==============================] - 0s 5ms/step - loss: 7.3605e-07 - mse: 7.3605e-07

In [121]:
model.evaluate([user_test, item_test], tf.ones_like(user_test))

3/3 [==============================] - 0s 13ms/step - loss: 3.9349e-06 - mse: 3.9349e-06

[3.934910182579188e-06, 3.934910182579188e-06]